 <!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../core-ajax/core-xhr.html" rel="import">

<polymer-element name="grapp-rest-resource"
  attributes="url params resource indexUrl showUrl newUrl createUrl updateUrl deleteUrl memberUrl">

  <template>

    <core-xhr id="xhr"></core-xhr>

  </template>

  <!-- build:script inline dist -->
  <script src="grapp-rest-resource.js"></script>
  <!-- /build -->

</polymer-element>
